body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather';
  color: #5A5958;
  background-color: #e5e5e5;
}
 img {
  border-radius: 50px;
 }

h1 {
  color: #A09F9D;
  margin: 50px auto 0;
  font-family: 'Montserrat' , sans-serif;
  font-size: 1.5em;
  /* 16px = 100% = 1em */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  margin: 0.5em auto 2em;
}

p {
  line-height: 2;
  font-size: 0.8em;
}

hr {
  border-style: none;
  border-top: 2px dotted #A6463C;
  width: 50px;
  margin: 20px auto;
}

a {
  color: #A6463C;
  font-size: 1.5em;
  
  font-family: 'Montserrat' , sans-serif;
  text-decoration: none;

}

a:hover {
  color: #D34A45;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  
}

.btn {
  background: #A6463C;
  border-radius: 10px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}

.btn:hover {
  background: #D34A45;
  color: #ffffff;

}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
#home-page-first-image {
  border-radius: 50%;
}
.home-card {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 30px;
  border: none;
  margin: 20px 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}