html {
overflow: hidden;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather';
  color: #040d06;
  background-color: #050d05;
}

.parallax_container { 
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-style: preserve-3d;
  height: 100%;
  margin: 0 auto;
}
.parallax {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}



.parallax img {
  width: 100%; 
  object-fit: contain;  
}

.container {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300%;
  width: 700px;
  position: absolute;
  z-index: 11;
}

.background {
  z-index: 1;
  top: 500%;
  background-color: #050d05;
  margin-top: 100;
  transform-style: preserve-3d;
  transform: translateZ(-1px) scale(2);
}

.sky_1 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-9px) scale(10);
}

.moon_2 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-8px) scale(9);
}

.clouds_3 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-7px) scale(8);
}

.birds_4 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-6px) scale(7);
}

.trees_inside_5 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-5px) scale(6);
}

.trees_inside_6 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-4px) scale(5);
}

.profile_cover_7 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-3px) scale(4);
}

.trees_outside_8 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-2px) scale(3);
}

.trees_outside_9 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-1px) scale(2);
}

.profile_10 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-3px) scale(4);
}
.hi {
  top: 30%;
  z-index: 3;
  transform-style: preserve-3d;
  transform: translateZ(-3px) scale(4);
  color: #002300;
}

 .avatar {
  mix-blend-mode:normal;
  border-radius: 50%;
  filter: drop-shadow(-2px -2px -2px #fffffa);
  filter: drop-shadow(2px 2px 2px #49493e);
  box-shadow:  5px 5px 10px #49493e,
               -5px -5px 10px #fffffa;
}

.icon {
    width: 50%;  
    padding: 10%;
    margin-bottom:  20%;
    mix-blend-mode:normal;
    border-radius: 50%;
    filter: drop-shadow(-2px -2px -2px #fffffa);
    filter: drop-shadow(2px 2px 2px #49493e);
    box-shadow:  5px 5px 10px #49493e,
    -5px -5px 10px #fffffa;
}
.card {
  width: 20%;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(145deg, #c3c3a7, #a4a48c);
  box-shadow:  8px 8px 16px #49493e,
               -8px -8px 16px #fffffa;
  padding-top: 20px ;
  border: none;
  margin: 20px 20px;
}

.card h3 {
  margin-bottom: 10%;
}

h1 {
  color: #002300;
  margin: 20px auto 0;
  font-family: 'Montserrat' , sans-serif;
  font-size: 1.5em;
  /* 16px = 100% = 1em */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  margin: 1em auto 1em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 2;
  margin: 1em auto 1em;
}

p {
  line-height: 2;
  font-size: 0.6em;
}

hr {
  border-style: none;
  border-top: 5px dotted #050d05;
  width: 100px;
  margin: 10px auto;
}

a {
  color: #050d05;
  font-size: 1.5em;
  font-family: 'Montserrat' , sans-serif;
  text-decoration: none;

}

a:hover {
  color: #103b15;
  box-shadow: inset 12px 12px 24px #49493e,
            inset -12px -12px 24px #fffffa;
}

ul {
  padding: 30px 0;
}

li {
  display: inline-block;
  
}

.btn {
  border-radius: 20%;
  background: linear-gradient(145deg, #c3c3a7, #a4a48c);
  box-shadow:  8px 8px 16px #49493e,
               -8px -8px 16px #fffffa;
  font-family: Montserrat;
  font-size: 20px;
  padding: 10px;
  margin: auto 20px;
}

.btn:hover {
  box-shadow: inset 8px 8px 16px #49493e,
  inset -8px -8px 16px #fffffa;
  color: #103b15;

}

#home-page-first-image {
  border-radius: 50%;
}
.home-card {
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(145deg, #c3c3a7, #a4a48c);
  box-shadow:  12px 12px 24px #020502,
               -12px -12px 24px #06150a;
  padding: 30px;
  border: none;
  margin: 20px 0px;
}
@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    top: 300%;
    width: 700px;
  }
  .card {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .icon {
    width: 20%;
    margin-bottom: 10%;
  }
  .hi {
    top: 10%;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    top: 150%;
    width: 600px;
  }
  .card {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .icon {
    width: 20%;
    margin-bottom: 10%;
  }
  .hi {
    top: 0%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    top: 100%;
    width: 500px;
  }
  .card {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .icon {
    width: 20%;
    margin-bottom: 10%;
  }
  .hi {
    top: 0%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    top: 80%;
    width: 300px;
    margin: 0 auto;
  }
  .card {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .icon {
    width: 20%;
    margin-bottom: 10%;
  }
  .hi {
    top: 0%;
  }
  .btn {
    margin: 10px 0;
    padding 10px 0;

  }
}

