html {
overflow: hidden;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather';
  color: #40514E;
  background-color: #050d05;
}

.parallax_container { 
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-style: preserve-3d;
  height: 100%;
  margin: 0 auto;
}
.parallax {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}



.parallax img {
  width: 100%; 
  object-fit: contain;  
}

.container {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300%;
  width: 700px;
  position: absolute;
  z-index: 11;
}

.background {
  z-index: 1;
  top: 500%;
  background-color: #050d05;
  margin-top: 100;
  transform-style: preserve-3d;
  transform: translateZ(-1px) scale(2);
}

.sky_1 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-9px) scale(10);
}

.moon_2 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-8px) scale(9);
}

.clouds_3 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-7px) scale(8);
}

.birds_4 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-6px) scale(7);
}

.trees_inside_5 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-5px) scale(6);
}

.trees_inside_6 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-4px) scale(5);
}

.profile_cover_7 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-3px) scale(4);
}

.trees_outside_8 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-2px) scale(3);
}

.trees_outside_9 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-1px) scale(2);
}

.profile_10 {
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-3px) scale(4);
}


 /* img {
  border-radius: 50px;
 } */

h1 {
  color: #66BFBF;
  margin: 50px auto 0;
  font-family: 'Montserrat' , sans-serif;
  font-size: 1.5em;
  /* 16px = 100% = 1em */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  margin: 0.5em auto 2em;
}

p {
  line-height: 2;
  font-size: 0.8em;
}

hr {
  border-style: none;
  border-top: 10px dotted #EAF6F6;
  width: 100px;
  margin: 20px auto;
}

a {
  color: #11999E;
  font-size: 1.5em;
  
  font-family: 'Montserrat' , sans-serif;
  text-decoration: none;

}

a:hover {
  color: #3cb0fd;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  
}

.btn {
  background: #66BFBF;
  border-radius: 10px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}

.btn:hover {
  background: #3cb0fd;
  color: #ffffff;

}

#home-page-first-image {
  border-radius: 50%;
}
.home-card {
  text-align: center;
  background: white;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 30px;
  border: none;
  margin: 20px 0px;
}
@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    top: 300%;
    width: 700px;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    top: 150%;
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    top: 100%;
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    top: 80%;
    width: 300px;
  }
}
